rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    match /check_logs/{logId} {
      allow read, write: if false;
    }

    match /lh_notices_snapshot/{docId} {
      allow read: if true;
      allow write: if false;
    }

    match /devices/{deviceId} {
      allow get: if true;
      allow list: if false;
      allow create, update: if request.resource.data.uuid == deviceId
                             && request.resource.data.keys().hasOnly(
                                  ['uuid', 'pushToken', 'platform', 'modelName', 'detailModelName', 'updatedAt']
                                )
                             && request.resource.data.pushToken is string;
      allow delete: if false;
    }

    match /users/{userId} {
      allow get: if true;
      allow list: if false;
      allow create, update: if request.resource.data.keys().hasOnly(
                                  ['CNP_CD_NM', 'PAN_SS', 'UPP_AIS_TP_CD']
                                );
      allow delete: if false;
    }

    match /{document=**} {
      allow read, write: if false;
    }
  }
}

